.mainheading {
 background-color: white;
  padding: 2px;
  margin-top: 2px;
  text-align: right;
  color:RED;
   font-size: 30px;
}
.maintitle {
 background-color: white;
  padding: 2px;
  margin-top: 2px;
  text-align: center;
  color:RED;
   font-size: 60px;
   font :bold;
}
.intro {
 background-color: #CCFFFF;
  padding: 5px;
  margin-top: 0.2px;
  text-align: justify;
  color:blue;
   font-size: 20px;
}


/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}


.leftcolumntop {
  float: left;
  width: 75%;
  height: 20%;
}

.rightcolumntop {
  float: left;
  width: 25%;
  height: 40%;
  padding-left: 20px;
  background-color: ;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column1 {
  float: left;
  width: 33%;
}
.column2 {
  float: center;
  width: 33%;
}

.column3 {
  float: right;
  width: 33%;
}
.leftcolumn {
  float: left;
  width: 70%;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 30%;
  padding-left: 20px;
}


/* Add a card effect for articles */
.photo {
  background-color: #800080;
  padding: 1px;
  margin-top: 1px;
  font-size: 25px;
   color:white;
}

.p {
  background-color: white;
  padding: 1px;
  margin-top: 1px;
  font-size: 12px;
}

.study {
  background-color:#800080;
  padding: 1px;
  margin-top: 0px;
  font-size: 18px;
  color:white;
 
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color:#0000FF;
}

.three {
  background-color:cream;
  padding: 2px;
  margin-top: 0.5px;
  text-align: center;
  color:#0000FF;
  float: left;
}

.ABOUT {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  HEIGHT: 25%;
  BORDER:2PX;
}

.leftcolumntop {
  background-color:#FFFFFF;
  padding: 1px;
  margin-top: 1px;
  font-size: 25px;
   color:white;
   width: 100%;
   text-align: center;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  background-color: #800080;
  padding: 0.1px;
  margin-top: 10px;
  font-size: 25px;
   color:white;;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width:100%;
    padding: 0;
  }
}


